<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forn</title>
</head>
<body>
<h1>New user</h1>
{% if messages %}
  <ul class=flashes>
  {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
<form action="{{url_for('users_post')}}" method="post">
  <div>
    <label>
      Nickname:
      <input type="text" name="name" value="{{ user.name }}">
    </label>
  </div>
  <div>
    <label>
      Email
      <input type="email" required name="email" value="{{ user.email }}">
    </label>
  </div>
  <input type="submit" value="Sign Up">
</form>
</body>
</html>